.wrapper {
  width: 100%;

}

.swiper {
  padding-left: calc(100vw - (1288px + (100vw - 1288px) / 2));
  padding-right: calc(100vw - (1288px + (100vw - 1288px) / 2));
}

.emptySlide {
  width: 1px;
  height: 1px;
}

.swiper-slide {
  height: auto;
  user-select: none;
}

.swiper-wrapper {
  align-items: stretch;
}

.btns {
  position: relative;
  z-index: 30;
  display: flex;
  width: 100px;
  margin: 20px auto 0;

  button {
    position: absolute;
    width: 0;
    bottom: 0;
    left: calc((100% + (100vw - 1288px) / 2) / 2 - (100vw - 1288px) / 2 - 24px);
    background: none;

    @media (max-width: 1230px) {
      left: calc(50% - 36px);
    }

    &:disabled {
      color: red;
    }
  }
}
