.worldwideBlock {
  max-width: 623px;
  margin-top: 304px;
  margin-bottom: 187px;
  position: relative;
  z-index: 1;

  @media (max-width: 1320px) {
    margin-top: 264px;
  }

  @media (max-width: 1000px) {
    margin-bottom: 412px;
  }
}

.title {
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 3px;
  margin-bottom: 16px;

  @media (max-width: 1320px) {
    font-size: 48px;
  }

  @media (max-width: 744px) {
    font-size: 30px;
  }
}

.subtitle {
  color: #D9C17B;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 75px;

  @media (max-width: 1320px) {
    font-size: 40px;
  }

  @media (max-width: 744px) {
    font-size: 24px;
  }
}

.text {
  font-size: 32px;
  font-weight: 700;

  @media (max-width: 1320px) {
    font-size: 24px;
  }
}
