.communityBlock {
  position: relative;
  max-width: 100vw;
  min-height: 1055px;
}

.communityWrapper {
  max-width: 100vw;
  min-height: 1055px;
  position: absolute;
  bottom: 0;
  height: 950px;
  width: 100%;

  @media (max-width: 1320px) {
    bottom: -100px;
  }

  &:after {
    position: absolute;
    content: '';
    background: url(@/assets/whyChooseUs/globe-1.png) center no-repeat ;
    top: calc(-885px - (1920px - (1920px - 100vw))/30);
    height: 1070px;
    right: -5px;
    width: calc(100% + 5px);
    mix-blend-mode: luminosity;
    transform: rotate(.4deg);

    @media (max-width: 1000px) {
      background: url(@/assets/whyChooseUs/globe.png) -800px;
      top: -897px;
    }

    @media (max-width: 744px) {
      background: url(@/assets/whyChooseUs/globe.png) -980px;
      top: -886px;
    }

    @media (max-width: 550px) {
      background: url(@/assets/whyChooseUs/globe.png) -1100px;
      top: -886px;
    }
  }
}

.bgLeftBottom {
  position: absolute;
  width: 758px;
  height: 845px;
  background: url(@/assets/whyChooseUs/left-bottom-bg.png) no-repeat;

  @media (max-width: 1320px) {
    display: none;
  }
}

.bgRightBottom {
  position: absolute;
  right: 0;
  top: 0;
  width: 1377px;
  height: 1055px;
  background: url(@/assets/whyChooseUs/right-bottom-bg7.png) no-repeat;
}

.svgWrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  height: 950px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.bgBottomSVG {
  fill: #58796b;
  mix-blend-mode: color-dodge;
  opacity: .3;
  height: 955px;

  @media (max-width: 1320px) {
    height: 955px;
  }
}

.title {
  position: relative;
  z-index: 20;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 3px;
  margin-bottom: 16px;
  margin-top: 140px;

  @media (max-width: 1320px) {
    margin-top: 180px;
    font-size: 48px;
  }

  @media (max-width: 744px) {
    font-size: 30px;
  }
}

.subtitle {
  position: relative;
  z-index: 20;
  color: #D9C17B;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 48px;

  @media (max-width: 744px) {
    font-size: 24px;
  }
}

.sliderWrapper {
  position: relative;
  //width: calc(1288px + (100vw - 1288px)/2);
  width: 100%;

  @media (max-width: 1320px) {
    width: calc(100vw - 32px);
    left: 16px;
  }

  @media (max-width: 500px) {
    width: calc(100vw - 16px);
    left: 16px;
  }
}
