
.bgWrapper {
  background: radial-gradient(83.92% 40.16% at 41.42% 20.3%, rgba(0, 0, 0, 0.00) -73.19%, #101614 100%), url(@/assets/main-bg.png);
  background-position-x: center, center;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;

  @media (max-width: 1320px) {
    background-size: cover, contain;
    background: radial-gradient(83.92% 20.16% at 41.42% 20.3%, rgba(0, 0, 0, 0.00) 57.81%, #101614 100%), url(@/assets/main-bg.png);
    background-position-x: 0, -500px;
  }

  @media (max-width: 744px) {
    background: radial-gradient(83.92% 38.16% at 41.42% 20.3%, rgba(0, 0, 0, 0.00) 57.81%, #101614 100%), url(@/assets/main-bg.png);
    background-size: cover, 1920px;
    background-position-y: 0;
    background-position-x: 0, -500px;
  }
}

.secondBg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 881px;
  height: 484px;
  border-radius: 881px;
  background: rgba(0, 0, 0, 0.8);
  mix-blend-mode: multiply;
  filter: blur(50px);

  @media (max-width: 1320px) {
    width: 475.76px;
    height: 600px;
    filter: blur(100px);
  }

  @media (max-width: 744px) {
    width: 100%;
    margin-top: 26%;

  }
}

.thirdBg {
  position: absolute;
  top: 0;
  left: 50%;
  width: 816px;
  height: 638px;
  transform: translateX(-50%);
  background: url(@/assets/main-bg-2.png) top center no-repeat;
  background-size: contain;

  @media (max-width: 1320px) {
    width: 476px;
    height: 372px;
  }

  @media (max-width: 744px) {
    display: none;
  }
}

.logoBg {
  border: red 1px solid;
  z-index: 11;
  width: 316px;
  height: 316px;
  border-radius: 316px;
  background: rgba(204, 177, 78, 0.50);
  filter: blur(50px);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;

  @media (max-width: 1320px) {
    transform: translate(-50%, -100px);
    z-index: 0;
    mix-blend-mode: color;
  }
}
