
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a, button {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

li {
  list-style: none;
}


body {
  font-family: 'Gabarito', serif;
  background-color: #101614;
  color: #ffffff;
}

.container {
  max-width: 1288px;
  margin: 0 auto;
  flex-grow: 1;
  width: 100%;
  padding-inline: 32px;

  @media (max-width: 744px) {
    max-width: 1288px;
    width: 100%;
    padding-inline: 32px;
  }

  @media (max-width: 500px) {
    padding-inline: 16px;

  }

}

.swiper-slide {
  width: 413px;


  &:last-child {
    width: 44px;

    @media (max-width: 1320px) {
      width: 10px;
    }
  }
}


.swiper-button-next:after, .swiper-button-prev:after {
  position: absolute;
  top: 150px;
}

.swiper-button-prev, .swiper-button-next {
  position: absolute;
  width: 0;
  bottom: 0;
  left: 50% !important;
  background: none;
}

.prev:after {
  position: absolute;
  background: url(@/assets/whyChooseUs/slider/fi_arrow-right.svg);
  width: 48px;
  height: 48px;
  content: '';
  transform: translateX(-50px) rotate(180deg);
}

.next:after {
  position: absolute;
  background: url(@/assets/whyChooseUs/slider/fi_arrow-right.svg);
  width: 48px;
  height: 48px;
  content: '';
  transform: translateX(50px);
  stroke: #0EF3CA;
}

.swiper-button-disabled:after {
  opacity: .4!important;
  background: url(@/assets/whyChooseUs/slider/fi_arrow-right-gray.svg);

}


.swiper-slide {

  &:last-child {
    @media (max-width: 744px) {
      display: none;
    }
  }
}




.swiper-slide {
  height: auto!important;
}
